<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "RailsAuthSaaS" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="application-name" content="RailsAuthSaaS">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="brand">RailsAuthSaaS</a>
      <div class="nav-links">
        <% if logged_in? %>
          <span class="nav-user"><%= current_user.email %></span>
          <a href="<%= dashboard_path %>">Dashboard</a>
          <%= button_to "Log out", logout_path, method: :delete, class: "btn btn-outline" %>
        <% else %>
          <a href="<%= login_path %>">Log in</a>
          <a href="<%= signup_path %>" class="btn btn-primary">Sign up</a>
        <% end %>
      </div>
    </nav>

    <main class="container">
      <% if notice.present? %>
        <div class="flash flash-notice"><%= notice %></div>
      <% end %>
      <% if alert.present? %>
        <div class="flash flash-alert"><%= alert %></div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
